<div class="container" style="margin-bottom: 20px; margin-top: 30px">
    <div style="display: inline-block ; padding-bottom: 40px;">

        <table mat-table [dataSource]="datasource" matSort>
            <!--  Lenders  -->

            <ng-container matColumnDef="nbr_chamber">
                <th class="tableheader" mat-header-cell *matHeaderCellDef mat-sort-header>Room Number</th>
                <td *matCellDef="let element">
                    <div class="floating">{{element.nbr_chamber}}</div><br>
                </td>
            </ng-container>
            <ng-container matColumnDef="floor">
                <th class="tableheader" mat-header-cell *matHeaderCellDef mat-sort-header> Floor
                </th>
                <td *matCellDef="let element">
                    <div class="floating">{{element.floor}}</div><br>
                </td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th class="tableheader" mat-header-cell *matHeaderCellDef mat-sort-header> Room Type
                </th>
                <td *matCellDef="let element">
                    <div class="floating">{{element.categories.type}}</div><br>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="price_winter">
                <th class="tableheader" mat-header-cell *matHeaderCellDef mat-sort-header> Winter Price
                </th>
                <td *matCellDef="let element">
                    <div class="floating">{{element.categories.price_winter}}</div><br>
                </td>
            </ng-container>
            <ng-container matColumnDef="price_summer">
                <th class="tableheader" mat-header-cell *matHeaderCellDef mat-sort-header> Summer Price
                </th>
                <td *matCellDef="let element">
                    <div class="floating">{{element.categories.price_summer}}</div><br>
                </td>
            </ng-container>
            <ng-container matColumnDef="price_spring">
                <th class="tableheader" mat-header-cell *matHeaderCellDef mat-sort-header> Spring Price
                </th>
                <td *matCellDef="let element">
                    <div class="floating">{{element.categories.price_spring}}</div><br>
                </td>
            </ng-container>
            <ng-container matColumnDef="price_autmn">
                <th class="tableheader" mat-header-cell *matHeaderCellDef mat-sort-header> Autmun Price
                </th>
                <td *matCellDef="let element">
                    <div class="floating">{{element.categories.price_autmn}}</div><br>
                </td>
            </ng-container>
            <ng-container matColumnDef="caracterstiques">
                <th class="tableheader" mat-header-cell *matHeaderCellDef mat-sort-header> Caracterstiques
                </th>
                <td *matCellDef="let element">
                    <div class="floating">{{element.categories.caracterstiques}}</div><br>
                </td>
            </ng-container>
            <ng-container matColumnDef="Check Calender">
                <th class="tableheader" mat-header-cell *matHeaderCellDef mat-sort-header> Check
                </th>
                <td *matCellDef="let element">
                    <button type="submit" class="btn1" (click)="check(element.id_chamber)">Check</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons
            style="margin-bottom: 40px; background-color: #0d102d; color: white; "></mat-paginator>

    </div>


</div>